/* Calendar */
#CalendarLine{}
#CalendarLine .calendar{ position: absolute; top: 0; left: 0; }
#CalendarLine .calendar ul{ float: left; list-style: none; position: relative;}
#CalendarLine .calendar ul li { float: left; height: 227px; position: relative; width: 53px; background: url("../img/left-border-bg.png" ) repeat-y left top;}
#CalendarLine .calendar ul li { color: #D2CFCF; font: bold 14px 'Roboto',sans-serif; padding-top: 10px; padding-bottom: 5px;  text-align: center; }
#CalendarLine .calendar ul li.month_line{ cursor: pointer; text-align: left; float: none; width: 100%; color: #D2CFCF; font: normal 14px 'Roboto',sans-serif; padding-bottom: 5px; padding-left: 7px; text-transform: uppercase; height: 20px; background:url("../img/left-border-bg.png" ) repeat-y; padding-top: 0; }

#CalendarLine .calendar ul li.today{ background:url("../img/bg_today.png" ) repeat; }
#CalendarLine .calendar ul li.today span{ bottom: 8px; color: #D2CFCF; display: block; position: absolute; text-align: center; text-transform: uppercase; width: 52px; }

/* Files Calendar */
#CalendarLine .calendar ul li div{ position: absolute; top: 0; right: 0; padding: 10px 9px 0 0; text-align: left; height: 18px; line-height: 18px; font-weight: normal; font-size: 10px; color: #5B5B59;}
#CalendarLine .calendar ul li div a{ display: inline-block; width: 18px; height: 18px; line-height: 18px; float: right; margin-left: 4px; background: url("../img/file-format-bg.png") no-repeat; text-decoration: none; color: #fff; text-align: center; font-size: 8px;  }
#CalendarLine .calendar ul li div.f0{ top: 25px; }
#CalendarLine .calendar ul li div.f1{ top: 50px; }
#CalendarLine .calendar ul li div.f2{ top: 75px; }
#CalendarLine .calendar ul li div.f3{ top: 100px; }
#CalendarLine .calendar ul li div.f4{ top: 125px; }
#CalendarLine .calendar ul li div.f5{ top: 150px; }
#CalendarLine .calendar ul li div.f6{ top: 175px; }
#CalendarLine .calendar ul li div.f7{ top: 200px; }
#CalendarLine .calendar ul li div.f8{ top: 225px; }

#CalendarFilesCount{ float: left; color: #51504c; font: 400 24px 'Noto Sans', sans-serif; margin-top: 4px;}

#CalendarFilterBox{ width: 600px; margin: 0 auto; }
#CalendarFilterBox .choose_period { float: right; margin-left: 30px; }
#CalendarFilterBox .datepicker{ float: left; height: 28px; line-height: 28px; padding: 0 4px; cursor: pointer; background: #0DB2EA; position: relative; }
#CalendarFilterBox .datepicker div.date_box{ position: absolute; z-index: 2; top: 28px; left: 0; }
#CalendarFilterBox .datepicker span.date_view{ font: 400 12px 'Noto Sans', sans-serif; color: #fff; text-align: right;}
#CalendarFilterBox .datepicker span.calendar_icon { float: left; width: 17px; height: 19px; margin: 4px 4px 0 2px; background: url("../img/calendar-icon.png") no-repeat; }
#CalendarFilterBox .choose_period p { float: left; margin: 0 5px; line-height: 28px; }
#CalendarFilterBox .search {
	float: left;
	width: 277px;
	height: 31px;
	line-height: 31px;
	padding: 0 15px;

	background: url("../img/search-input-bg.png") left top repeat-x;

	border-radius: 20px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);

	/*z-index: 2;*/
}
#CalendarFilterBox .search input { background: none; border: none; width: 100%; height: 31px; line-height: 31px; font: 500 12px 'Roboto', sans-serif; color: #a8a8a1; }

/* Task Calendar */
#CalendarLine .calendar ul li.task{ position: absolute; top: 0; left: 0; height: 20px; z-index: 5; width: 0; background: #AAD263; color: #FFFFFF; font: 300 11px/20px 'Roboto', sans-serif; padding: 0; margin-top: 25px; }


